:root{
  --size:400px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  height:100dvh;
  display:grid;
  place-content:center;
  background: linear-gradient(#444, #222);
}
.container {
  position: relative; /* Added to position child elements */
  width: var(--size);
  height: var(--size);
}
.fig{
  clip-path: polygon(50% 100%, 62% 80%, 50% 82%, 38% 80%);
  width: var(--size);
  height: var(--size);
  background: yellow;
}
.layer1 {
  position: absolute; /* Positioning the new layer */
  top: -35px; /* Align to the top */
  left: 0; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(50% 87%, 70% 84%, 72% 85%, 74% 95.5%, 75.5% 96%, 75% 84%, 69% 78%, 60% 60%, 50% 78%, 40% 60%, 31% 78%, 25% 84%, 24.5% 96%, 26% 95.5%, 28% 85%, 30% 84%, 50% 87%)
}

.layer2 {
  position: absolute; /* Positioning the new layer */
  top: -147px; /* Align to the top */
  left: 0px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(50% 98%, 58% 84%, 50% 71%, 42% 84%)
}

.layer3 {
  position: absolute; /* Positioning the new layer */
  top: -1px; /* Align to the top */
  left: 1px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(70.5% 65.5%, 87% 38%, 75% 5%, 61% 47%)
}

.layer4 {
  position: absolute; /* Positioning the new layer */
  top: -1px; /* Align to the top */
  left: -1px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(30% 65.5%, 13% 38%, 25% 5%, 39% 47%)
}
.layer5 {
  position: absolute; /* Positioning the new layer */
  top: -1px; /* Align to the top */
  left: -1px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: ellipse(10% 18.5% at 19.5% 24%)
}

.layer6 {
  position: absolute; /* Positioning the new layer */
  top: -1px; /* Align to the top */
  left: 1px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: ellipse(10% 18.5% at 80.5% 24%)
}

.layer7 {
  position: absolute; /* Positioning the new layer */
  top: -45px; /* Align to the top */
  left: -5px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(73% 80%, 85% 74%, 86% 64%, 84% 64%, 82% 72%, 76% 75%)
}

.layer8 {
  position: absolute; /* Positioning the new layer */
  top: -45px; /* Align to the top */
  left: 5px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(27% 80%, 15% 74%, 14% 64%, 16% 64%, 18% 72%, 24% 75%)
}

.layer9 {
  position: absolute; /* Positioning the new layer */
  top: -40px; /* Align to the top */
  left: 20.5px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(70.04% 15%, 71.6% 10% , 80% 17.1%, 81% 19%, 71% 20%)
}

.layer10 {
  position: absolute; /* Positioning the new layer */
  top: -40px; /* Align to the top */
  left: -20.5px; /* Align to the left */
  width: var(--size);
  height: var(--size);
  background: yellow; /* Example background */
  clip-path: polygon(29.96% 15%, 28.4% 10% , 20% 17.1%, 19% 19%, 29% 20%)
}