:root{
    --bg:1;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction: column;
    height:100dvh;
    background: var(--bg);
    overflow-x:hidden;
}