:root{
  --size:400px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  height:100dvh;
  display:grid;
  place-content:center;
  background: linear-gradient(#444, #222);
}
.container {
  position: relative; /* Added to position child elements */
  width: var(--size);
  height: var(--size);
}
.fig{
  clip-path: polygon(40% 100%, 60% 100%, 100% 50%, 100% 0%, 65% 0%, 50% 22%, 35% 0%, 0% 0%, 0% 50%, 40% 100%, 25% 55%, 29.5% 40%, 18% 40%, 18% 20%, 28% 20%, 40% 35%, 60% 35%, 72% 20%, 82% 20%, 82% 40%, 70.5% 40%, 75% 55%, 50% 85%, 25% 55%);
  width: var(--size);
  height: var(--size);
  background: red;
}
, 50% 80%, 75% 55%, 70% 40%, 75% 40%, 75% 25%, 60% 30%, 40% 30%, 25% 25%, 25% 40%, 30% 40%
, 50% 80%