:root{
    --main-color: #d7eedd;
    --secondary-color: #c1d6c7;
    --third-color: #acbfb1;
    --forth-color: #c1d1ce;
    --five-color: #d7e3eb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1{
    text-align: center;
    font-size: 40px;
    background-color: var(--secondary-color);

}

.header2{
    text-align: center;
    font-size: 30px;
    background-color: var(--main-color);
}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--five-color);
}

.navbutton{
    display: flex;
    background-image: linear-gradient(to right, var(--secondary-color), var(--third-color));
    font-size: 18px;
}

.navbutton a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    outline: solid rgb(58, 58, 58) 3px;
    border-radius: 10px;
    margin: 10px;
}

.navbutton a:hover {
    background-color: var(--main-color);
    color: white;
    font-size: bold;
  
}

.main{
    --background-image: url("res/Planetary-Gear.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--main-color);
}

.content{
    display:flex;
    align-items: left;
    gap:15px;
    margin:auto;
    background-color: pruple;
}

.kontakt{
    text-align: center;
    font-size: 20px;
    background-color: var(--forth-color);
}



.content img{
    width: flex;
    height: 100%;
    border-radius: 8px;
}

.div2{
    width:flex;
    font-size: 18px;
}



.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #585858;
}

.glitch {
   position: relative;
   font-size: 50px;
   font-weight: bold;
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   display: block;
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
}

.glitch:before {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #00FFFF;
   z-index: -1;
}

.glitch:after {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #FF00FF;
   z-index: -2;
}

@keyframes glitch-it {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-2px, 2px);
   }
   40% {
      transform: translate(-2px, -2px);
   }
   60% {
      transform: translate(2px, 2px);
   }
   80% {
      transform: translate(2px, -2px);
   }
   to {
      transform: translate(0);
   }
}