* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 30px;
    place-content: center;
    text-align: center;
    outline: 2px solid black;
    background-color: rgb(79, 79, 92);
}

.nav{
    display: flex;
    margin: 0;  
    list-style-type: none;
    padding: 0;
    background-color: lightgray;
}

.nav li a{
    display: block;
    color: purple;
    padding: 14px 16px;
    text-decoration: none;
}

h2{
    font-size: 30px;
}

.nav li a:hover{
    background-color: black;
    color: white;
}

h5{
    font-size: 18px;
}

.mainheader{
    color: white;
    text-align: left;

}
.side{
    flex: 30%;
    background-color: bisque;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: rgb(144, 125, 102);
    padding: 20px;
}

.img{
    width: 100%;
    padding: 20px;
}

.container{
    display: flex;
    width: flex;
    flex-direction: row;
    outline: 2px dotted black;
    background-color: lightblue;
}


@media screen and (max-width:600px) {
    .container {
        flex-direction: column;
    }
}

footer{
    background-color: #343333;
    text-align: center;
    padding: 16px;
    color:white;
}