*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: lightgrey;
    font-family: "Lucida Console", "Courier New", monospace;
    outline: 1px solid green;
}

.rubrik{
    outline: 2px dotted green;
    margin: 10px;
    background: red;
}

.underrubrik{
    outline: 2px dotted purple;
    margin: 10px;  
    display: flex;
    align-items: top;
    gap: 15px;
}

.underrubrik img{
    width: 300px;
    height: auto;
    flex-shrink: 0; /* Hindrar bilden att minska*/
}

p{
    line-height: 1.2;
}

h2{
    padding: 10px;
    font-size: 2rem;
    font-weight: 10000;
}

b{
    background:black;
}