:root{
  --text: #011e05;
  --background: #f1fff3;
  --primary: #16fa50;
  --secondary: #70b1fc;
  --accent: #4d48fb;
}



body{
  height:100vh;
  width:100%;
  margin: 0;
  padding: 0;
  background: var(--accent);
  background-size: 100%, 100%;
  color: var(--text);

}
header{
  height:120px;
  margin: 0;
  padding:0.3em;
  width:calc(100% - .6em);
  background: var(--primary);
  font-family:sans-serif;
  font-size:3em;
  font-weight:bold;
}
footer{
  width:calc(100% - .6em);
  font-family:monospace;
  font-size:1.5em;
  text-align:center;
  background: var(--accent);
  padding:.3em;
  height:80px;
}
.main{
  display:grid;
  grid-auto-rows:min-max(200px, 1fr);
  gap:1rem;
  overflow-x:hidden;
  overflow-y:scroll;
  height:
}
.content{
  width:calc(100% - 1.6em);
  background: var(--secondary);
  color: var(--text);
  padding:.8em;
}
.outer{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction:column;
  height:calc(100dvh);
  }
h1{
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  font-size:2em;
}
p{
  font-family:sans-serif;  
}

@media screen and (min-width:600px){
  .main{
    grid-template-columns:repeat(2, 1fr);
  }

}
@media screen and (min-width:950px){
  .main{
    grid-template-columns:repeat(3, 1fr);
  }
}
@media screen and (min-width:1200px){
  .main{
    grid-template-columns:repeat(4, 1fr);
  }
}
@media print{
  .main{
    grid-template-columns:1fr;
  }
}